* {
  margin: 0;
  padding: 0;
}

.item1,
.item2,
.item3,
.item3,
.item4,
.item5 {
  padding: 20px;
  text-align: center;
}

.item1 {
  background-color: blueviolet;
}
.item2 {
  background-color: burlywood;
}

.item3 {
  background-color: rgb(135, 222, 139);
}
.item4 {
  background-color: rgb(45, 84, 226);
}
.item5 {
  background-color: rgb(221, 110, 212);
}

.grid-container {
  display: grid;
  gap: 1.5rem;
  /* grid-template-columns: 25% 25% 25% 15%; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-areas:"one" "two" "three" "four" "five";
  /* grid-auto-columns: 1fr; */
}
/* 
.grid-col-span-2 {
  grid-column: span 2;
} */

.grid-item:last-child {
  /* background-color: red;
  grid-column: span 2;
  grid-column: 4;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: span 2; 
  grid-row: 1 / span 2; */
}

.grid-item:nth-child(1) {
  grid-area: one;
}
.grid-item:nth-child(2) {
  grid-area: two;
}

.grid-item:nth-child(3) {
  grid-area: three;
}
.grid-item:nth-child(4) {
  grid-area: four;
}
.grid-item:nth-child(5) {
  grid-area: five;
}

/* Target screen size at 50em */
@media (min-width: 50em) {
  .grid-container {
    grid-template-areas: "one one five two" "three four five two";
  }
}
