*{ 
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

.container{
    display: flex;
    height: 3em;
    background-color: darkcyan;
    margin:0;
}
.nav{ 
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    font-size:1em;
    margin-left:60px ;
    color: rgb(245, 106, 7);
} 

.logo:hover{
    color: rgb(218, 100, 17);
    transition:0.5s ease-out;
}

.nav-link{
    display:flex;
    list-style: none;
    margin-left: auto;
}
.nav-1{
    margin-left: auto;
    padding-left:8em;
}
.link{
    font-size:1em;
    margin: 0 30px;
    color: white;
}

.link:hover{
    color: rgb(218, 218, 200);
    transition:0.5s ease-out;
}
.sign-up{
    margin-right:60px;
    font-size: 16px;
    padding: 2px 10px;
    background-color: white;
    color: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 10px;
    
}

.login{
    font-size: 16px;
    padding: 2px 10px;
    margin-right: 0;
    color: rgb(255, 255, 255);
    padding: 2px 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.h1{
    display: flex;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-size: 20px;
    background-color:darkcyan;
    color: rgb(245, 106, 7);
    justify-content: center;
    align-items: center;
    padding:20px 10px;
    border: 2px solid  darkcyan;
    border-radius: 0.2em;
}

.dropdown{display:none;
          margin-left:auto;
          margin-right: 30px;
        }

@media (max-width:870px){
    .nav-link{
        display: none;
    }
    .dropdown{
        display: inline-block;
        
    }

}