*{  
    margin: 0;
    padding: 0;
    color:hsl(0, 0%, 95%);
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'specimen',"Lexend+Deca","Display" sans-serif,'Courier New', Courier, monospace ;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 4em 6em;
    
}
.grid-container{

    display: grid;
    padding: 1em 2em;
    justify-content: center;
    align-content: center;
    grid-auto-columns:1fr;
    grid-auto-rows:500px;
    grid-template-areas:"item-1 item-2 item-3";
}

.grid-item{
    display: flex;
    padding:1em 2em;
    flex-direction: column;
    justify-content: space-evenly;
    color: aliceblue;
}
h2{
    font-family: "Big Shoulders", sans-serif, Courier, monospace ;
    font-size: 2.2em;
    font-weight: 500;

}
p{
    font-size:16px;
    line-height: 1.2em;
    opacity: 0.8;
    color: hsla(0, 0%, 100%, 0.75);
}
img{
    width: 2.5em;
}
button{
    padding: 10px;
    border-radius: 1.5em;
            margin-right: 3em;
}

.item-1{
    grid-area: "item-1";
    background-color: hsl(31, 77%, 52%);
    border-radius:10px 0 0 10px ;
}
.item-1 button{
    color: hsl(31, 77%, 52%);
    border-color:hsl(31, 77%, 52%);
}

.item-2{
    grid-area: "item-2";
    background-color: hsl(184, 100%, 22%);
    
}
.item-2 button{
    color:hsl(184, 100%, 22%);
    border-color:hsl(184, 100%, 22%);
}


.item-3{
    grid-area: "item-3";
    background-color: hsl(179, 100%, 13%);
    border-radius:0 10px 10px 0;
}

 .item-3 button{
    color:hsl(179, 100%, 13%);
    border-color:hsl(179, 100%, 13%)
}

@media(max-width:1440px) {
    .grid-container{
        grid-auto-columns:1fr;
        grid-template-areas: "item-1 item-2 item-3";
        grid-auto-rows: 500px;
    }
    .grid-item{
        padding: 1em 2.5em;
    }
    button{
        font-size: 10px;
        padding: 10px;
    }
}
@media(max-width:600px) {
    .grid-container{
        grid-auto-rows: 400px;
        grid-template-areas: "item-1"
                             "item-2"
                             "item-3";
    }
    button{
        font-size: 1em;
        padding: 10px;
        margin-right: 3em;
    }
    .item-1{
    border-radius:10px 10px 0 0 ;
}
   .item-3{
    border-radius:0 0 10px 10px;
}
}