*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    align-self:center;
    justify-content: center;
    padding: 1em;
}

.grid-container{
    display: grid;
    padding: 1em 2em;
    grid-template-columns:repeat(4,1fr);
    grid-auto-rows: auto;
    grid-template-areas: "review-1 review-1 review-2 review-5" 
                         "review-3 review-4 review-4 review-5";
    gap: 1.5em;
}

.bio{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#quote-text{
    display: grid;
    position: relative;
}

img{
    background-image: url('https://res.cloudinary.com/dbgowpxtw/image/upload/v1763666383/bg-pattern-quotation_pp0vue.svg');
    background-repeat: no-repeat;
    width: 2.2em;
    border-radius: 50%;
    display: inline;
    margin: 12px;
}

.img{
    grid-column: 2/3;
    grid-row:1/2;
    width: 5.5em;
    margin-top: 1em;
    margin-left: 8em;

}



.grid-item{
    display: flex;
    font-size: 1em;;
    padding:1em 2em;
    line-height: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    color: #fff;
    box-shadow: 10px 10px 5px 5px rgb(0 0 0/10%);
}

.h2{
    font-size:16px;
}

.h3{
    font-size:14px;
}

.paragraph{
    padding-top: 16px;
    font-size: 0.8em;
    opacity: 0.8;
    font-weight: 400px;

}


.review-1{
    grid-area: review-1;
    background-color: hsl(263, 55%, 52%);
}

.review-2{
    grid-area: review-2;
    background-color: hsl(217, 19%, 35%);
}

.review-3{
    grid-area: review-3;
    background-color: hsl(214, 17%, 92%);
}

.review-4{
    grid-area: review-4;
    background-color: hsl(219, 29%, 14%);
}

.review-5{
    grid-area: review-5;
    background-color: hsl(214, 17%, 92%);
}
.grid-item:nth-of-type(odd){color: #000;}
.grid-item:first-child{color: #fff;}


@media (max-width:645px) {
     .grid-container{
                     grid-template-columns:300px;
                     height:100vh ;
                      grid-template-areas: "review-1"
                                           "review-2"  
                                           "review-3" 
                                           "review-4"
                                           "review-5";}

                        .grid-item{
                         height: 100%;
                                        }
    
}