*{
    padding:0;
}
.grid-contianer{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); 
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;  
}

.item{
    padding:2em;
    background-color: hsl(261, 94%, 49%);
    color:white;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem; 
 } 

.item-1{
    background-color: blueviolet;
    grid-column:1/2;
    grid-row: 1/3;
    align-items: center;
  
}
.item-2{
    background-color: darkcyan;
    grid-column:1/4;
    grid-row: 1/3;
    z-index: -1;  
}


