@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('Poppins-ExtraBoldItalic.woff') format('woff'),
         url('Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
